* {
    text-align: left;
    vertical-align: middle;
    text-decoration: none;
    overflow: hidden;
}

.ad-container {
    border: 2px solid rgba(32, 32, 32, 0.5);
    border-top-width: 25px;
    border-image: conic-gradient(from var(--rainbow-border-angle), rgb(0, 183, 255), #ff728e, #ffffff, #ff728e, #00b7ff) 1;
    animation: 10s rainbow-rotate linear infinite;

    margin-top: 100px;
}

#contact-links {
    /*background-color: var(--border-color);*/
    padding: 20px;
}

.contact-link {
    margin-top: 20px;
}

.contact-link > img {
    max-width: 20%;
}

.contact-link > span {
    font-size: 10vw;
}