#content-windows {
    display: flex;
    flex-wrap: wrap;

}

.content-window {
    border-width: 1px;
    border-style: solid;
    border-color: var(--border-color);
    margin: 10px;

    border-top-width: calc(0.1em + var(--window-title-size));
    display: block;

    flex: 1 1 325px;

    padding: 10px;

    background-color: rgba(4, 0, 11, 0.8);
}

.content-window:hover {
    border-color: var(--accent-color)
}

.content-window > span:first-of-type {
    display: block;
    color: var(--text-color);
    position: relative;
    
    top: calc(-1 * var(--window-title-size));
    margin-bottom: calc(calc(-1 * var(--window-title-size)) + 0.1em);

    text-transform: uppercase;
    font-size: var(--window-title-size);
    background-color: var(--border-color);
    margin-left: 30px;
    margin-right: 30px;

    transition: margin-left 0.08s, margin-right 0.08s;
}

.content-window:hover > span:first-of-type {
    background-color: var(--accent-color);
    margin-left: 0px;
    margin-right: 0px;

    color: var(--container-color)
}

.content-window > p {
    display: block;
    text-align: left;
    margin: 3px;

    line-height: 80%;
}

.content-window > p:not(:last-of-type) {
    margin-bottom: 15px;
}

.content-window[onclick] {
    cursor:pointer;
}

.content-window > img {
    width: 100%;
    max-width: 50%;
    max-height: 90%;
}

.right-content-image {
    float: right;
    margin: 5px 0px 5px 5px;
}

.left-content-image {
    float: left;
    margin: 5px 5px 5px 0px;
}

#image-paula {
    box-shadow: 0px 0px 60px 45px rgba(255,200,0,0.25);
}

#image-photo {
    box-shadow: 0px 0px 60px 45px rgba(45,255,196,0.25);
}

#image-trans {
    box-shadow: 0px 0px 60px 45px rgba(255, 70, 243, 0.25);
}

#image-earth {
    box-shadow: 0px 0px 60px 45px rgba(14, 9, 160, 0.25);
}

.content-window > img {
    /*mask-image: linear-gradient(90deg,rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 97%, rgba(255, 255, 255, 0) 100%);*/
    border: 1px solid rgb(103, 109, 63) ;

    transition: transform 0.1s ease-in-out;
}

.content-window:hover > img {
    transform: scale(1.05);
    border-width: 2px;
    border-image: conic-gradient(from var(--rainbow-border-angle), red, yellow, lime, aqua, blue, magenta, red) 1;
}