#content-windows {
    display: flex;
    flex-wrap: wrap;

}

.content-window {
    border-width: 1px;
    border-style: solid;
    border-color: var(--border-color);
    margin: 10px;

    border-top-width: calc(0.1em + var(--window-title-size));
    display: block;

    flex: 1 1 325px;

    padding: 10px;

    background-color: rgba(4, 0, 11, 0.8);
}

.content-window:hover {
    border-color: var(--accent-color)
}

.content-window > span:first-of-type {
    display: block;
    color: var(--text-color);
    position: relative;
    
    top: calc(-1 * var(--window-title-size));
    margin-bottom: calc(calc(-1 * var(--window-title-size)) + 0.1em);

    text-transform: uppercase;
    font-size: var(--window-title-size);
    background-color: var(--border-color);
    margin-left: 30px;
    margin-right: 30px;

    transition: margin-left 0.08s, margin-right 0.08s;
}

.content-window:hover > span:first-of-type {
    background-color: var(--accent-color);
    margin-left: 0px;
    margin-right: 0px;

    color: var(--container-color)
}

.content-window > p {
    display: block;
    text-align: left;
    margin: 3px;

    line-height: 80%;
}

.content-window > p:not(:last-of-type) {
    margin-bottom: 15px;
}

.content-window[onclick] {
    cursor:pointer;
}

.content-window > img {
    width: 100%;
    max-width: 50%;
    max-height: 90%;
}

.right-content-image {
    float: right;
    margin: 5px 0px 5px 5px;
}

.left-content-image {
    float: left;
    margin: 5px 5px 5px 0px;
}