:root {
    --duration: 360s;
}

* {
  box-sizing: border-box;
  overflow: hidden;
  vertical-align: middle;
}

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.ticker-wrap {
  position: fixed;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  height: 4rem;
  padding-left: 100%;
  box-sizing: content-box;
}

.ticker-wrap .ticker {
  display: inline-block;
  height: 4rem;
  line-height: 4rem;
  white-space: nowrap;
  padding-right: 100%;
  box-sizing: content-box;

  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: ticker;
  animation-name: ticker;
  -webkit-animation-duration: var(--duration);
  animation-duration: var(--duration);
}

.ticker-wrap .ticker__item {
  display: inline-block;
  padding: 0 2rem;
  font-size: 2rem;
  color: white;
}

body {
  padding-bottom: 5rem;
}

.ticker__item {
    margin-top: 10px
}

@keyframes header-text {
  0% {
    font-weight: 200;
    color: #ff0000;
  }
  50% {
    font-weight: 900;
    color: #ffffff;
  }
  100% {
    font-weight: 200;
    color: #ff0000;
  }
}

span {
    animation: header-text 2s ease-in-out infinite;
    background-color: #ff0000;
    border-color: white;
    border-top: 0;
    border-bottom: 0;
    border-left: 5px;
    border-right: 5px;
    border-style: solid;
    padding: 5px;
    height: 100%;
}