:root {
}

* {
    text-align: left;
    vertical-align: middle;
    text-decoration: none;
}

#widgets {
    /*background-color: var(--border-color);*/
}

img {
    width: 100%;
}

.widget-title {
    text-align: center;
    font-size: 2em;
}

.widget-container {
    margin-bottom: 50px;
    padding: 20px;
    padding-top: 0px;

    border: 2px solid rgba(32, 32, 32, 0.5);
    border-top-width: 25px;

    border-image: conic-gradient(from var(--rainbow-border-angle), red, yellow, lime, aqua, blue, magenta, red) 1;
    animation: 10s rainbow-rotate linear infinite;
}

