:root {
    --terminal-text-color: var(--text-color);
    --terminal-text-selected-color: #ffc800;

}

* {
    scrollbar-width: none;
}

#center-content {
    box-shadow: 0px 0px 60px 45px rgba(44, 42, 106, 0.25);
    border: 4px solid blue;
    border-image: conic-gradient(from var(--rainbow-border-angle), rgba(0, 183, 255, 0.5), rgba(255, 114, 142, 0.5), rgba(255, 255, 255, 0.5), rgba(255, 114, 142, 0.5), rgba(0, 183, 255, 0.5)) 1;

    animation: 10s rainbow-rotate linear infinite;
}

#terminal-wrapper {
    /*background-color: rgb(102, 67, 74);*/
    background-image: url(../resources/media/terminal/wallpaper.gif);
    background-size: cover;
    image-rendering: pixelated;
    position: relative;
    height: 100%;
}

#terminal-wrapper > img {
    width: 100%;
}

#terminal-cover {
    backdrop-filter: brightness(0%);
    transition: backdrop-filter 1s;
}

#terminal-content {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 40%;
    max-height: 60%;

    transform: translate(-50%, -50%);

    overflow-y: scroll;
    scrollbar-width: none;
}

#terminal-content::-webkit-scrollbar {
    display: none;
}

#terminal-content > h3 {
    font-size: 1.6vw;
}

#terminal-content > p {
    font-size: 1vw;

    color: var(--terminal-text-color);
}

.terminal-button {
    text-decoration: underline dashed;
}

#terminal-content > p.selected {
    font-size: 1vw;

    color: var(--terminal-text-selected-color);
    transform: scale(1.05);
    text-decoration: underline;
}

@keyframes text-cursor {
    from{caret-color: transparent;}
    to{opacity: var(--terminal-text-color);}
}

.terminal-text {
    margin-bottom: 0.6vw;
}

.terminal-input {
    caret-shape: underscore;

    white-space: "pre-wrap";
}

.terminal-input:focus {
    outline: 0px solid transparent;
}

::selection {
    background-color: #957500;
}

@keyframes loader-bullets {
    0% {
        content: "𓃉𓃉𓃉";
    }
    15% {
        content: "𓃉𓃉∘";
    }
    30% {
        content: "𓃉∘°";
    }
    45% {
        content: "∘°∘";
    }
    60% {
        content: "°∘𓃉";
    }
    75% {
        content: "∘𓃉𓃉";
    }
    90% {
        content: "𓃉𓃉𓃉";
    }
    100% {
        content: "𓃉𓃉𓃉";
    }
}

.terminal-loader:before {
    content: "uwu";
    animation: 900ms linear 0s infinite loader-bullets;
}

@keyframes bios-text {
    0% {
        opacity: 100%;
    }
    10% {
        opacity: 100%;
    }
    50% {
        opacity: 0%;
    }
    10% {
        opacity: 90%;
    }
    100% {
        opacity: 100%;
    }
}

.terminal-bios {
    font-size: 1.5vw !important;
    opacity: 0%;
    animation: 600ms steps(1, jump-end) 1s infinite alternate bios-text;
}

.terminal-carrousel-container {
    height: 6vw;
    width: 100%;

    margin-left: auto;
    margin-right: auto;
    margin-top: 2vw;

    position: relative;
}

.terminal-carrousel-container > p {
    position: absolute;
    top: 50%;
    left: 50%;

    /*transform: translate(-50%, calc(-50% + -50%));*/
    transition: transform opacity ease-out 500ms;

    font-size: 1vw;
}

.selected-carrousel-option:before {
    content: "▶ ";
}

.selected-carrousel-option:after {
    content: " ◀";
}

#user-guide > span {
    margin-left: 10px;
    margin-right: 10px;
}
#user-guide > span > b {
    color: #00d0ff;
    text-shadow: #00aaff 1px 0 10px;
}