name: Deploy lemniscata.net

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to server via SSH
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.LEMNISCLOUD_HOST }}
          username: 'redstone'
          key: ${{ secrets.LEMNISCLOUD_DEPLOY_KEY }}
          port: 22
          script: |
            cd /var/www/lemniscata
            git reset --hard
            git pull origin main